<section class="container text-center">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>

</section>

<div class="container">

    <p class="text-center">
        <% if (!loggedIn) { %>
                  <a class="text-danger" href="/register">Register</a>
                    <a class="text-danger" href="/login">Login</a>
                    <% } %>
                  <a class="text-danger" href="/about">About Us</a>
    </p>
    <p>Contact Me: <br>E-mail - ashokdhital4@gmail.com</p>

</div>
<p class="text-center text-muted">&copy; Copyright 2022</p>