<nav class="navbar navbar-light bg-light justify-content-between" style="background-color: #e3f2fd;" >
  <a class="navbar-brand">Grocery Store</a>
  <% if (loggedIn) { %>
    <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log Out</a>
  <% } %>
</nav>