<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sri Lakshmi</h1>
    <p>Welcome to the Sri Lakshmi Super Market</p>
  </div>
</main>
<section>
  
  <div class="jumbotron">
    <h1>Staff Area</h1>
    <p>Welcome to the Staff Area</p>
  </div>

</section>
<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>
