<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sri Lakshmi Super Market</h1>
    <p>THERE IS NO BETTER PLACE TO SHOP</p>
  </div>
</main>

<section>
  <div class="container">
    <p class="lead text-center">Sri Lakshmi Super Market is an independent Asian grocery store located in the heart of Western Sydney, catering for thousands of households with their day-to-day grocery needs such as vegetables, fruits, frozen packed food and hot food. We also maintain a large warehouse to replenish our stock every day to minimise customer disruption. We provide the best customer service and experience for all walk-in customers and entice them to revisit with our facility to avail incredible offers changing every week.
    <br />
    <br />
    <a href="/login">SignUp</a> to avail special offers!!!</p>
  </div>
</section>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
