<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sri Lakshmi Super Market</h1>
    <p>THERE IS NO BETTER PLACE TO SHOP</p>
  </div>
</main>

<section>

  <div class="container">
          <p>
            <blockquote class="indbq">"Buy groceries and feed yourself,even on the road. ..."            
            </blockquote>
          </p>
  </div>
  <div class="container">
    <p class="lead text-center">We provide the best customer service and experience for all walk-in customers and entice them to revisit with our facility to avail incredible offers changing every week.
      <br />
      <br />
      SignUp to avail special offers!!!</p>
  </div>
</section>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
