<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Grocery Store</h1>
    <p>Welcome to the Grocery Store</p>
  </div>
</main>
<section>
  
  <div class="jumbotron">
    <h1>Admin Area</h1>
    <p>Welcome to the Admin Area</p>
  </div>

</section>
<section>
  <a href="/admin/registerstaff" class="btn btn-lg btn-primary">Register Staff</a>
</section>
<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>
