<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Grocery Store - Register</h1>
    <p>Register a Staff to the Grocery Store</p>
  </div>
</main>
<section>
  <form method="post" action="/admin/registerstaff">
    <% if (authmessage != "") { %>
      <p class="lead text-center text-danger"><%=authmessage%></p>
    <% } %>
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="form_name" class="form-control" name="name" required/>
      <label class="form-label" for="form_name">Name</label>
    </div>

    <!-- UserName input -->
    <div class="form-outline mb-4">
      <input type="text" id="form_name" class="form-control" name="username" maxlength="20" required/>
      <label class="form-label" for="form_name">User Name</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form_email" class="form-control" name="email" maxlength="100" required/>
      <label class="form-label" for="form_email">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form_password" class="form-control" name="password" maxlength="16" required/>
      <label class="form-label" for="form_password">Password</label>
    </div>
    
    <!-- Password confirmation -->
    <div class="form-outline mb-4">
      <input type="password" id="form_confirmpass" class="form-control" name="confirmpass" maxlength="16" required/>
      <label class="form-label" for="form_confirmpass">Confirm Password</label>
    </div>
  
      
    <!-- Submit button -->
    <input type="submit" value="Sign up" class="btn btn-primary btn-block mb-4">
  
    <!-- Register buttons -->
    <div class="text-center">
      <p><a href="/admin">Back</a></p>      
    </div>
  </form>
</section>
<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>
